$favorite-color: #D1D7DC;

body {
  background-color: $favorite-color;
  font-family: Helvetica;
  font-size: 40px;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}
.flex-container {
  display: flex;
  justify-content: center
}

